.wrapper{
    height: 100vh;
  }
  
  .titulo{
    text-align: center;
  }
  
  .login{
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 300px;
    height: min-content;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
  }
  
  input:placeholder-shown{
    border: 4px solid rgb(0, 0, 0);
  }